.login{
  padding: 20px 50px;
  background-color: rgb(109, 237, 98);
  border-radius: 0 0 10px 10px;

  ;
  box-shadow: 0 4px 8px 0 rgba(13, 13, 13, 0.95);
  transition: 0.3s;
  width: 50%;
  background-color:  rgb(145, 185, 234);
  margin-left: 25%;
  margin-top: 5%;
  border-radius: 30px;
}
